{% extends 'base.html.twig' %}

{% block content %}

    <form class="" action="signin.php" method="post">
        <input type="text" name="pseudo"/>
        <input type="password" name="password"/>
        <input type="submit" name="signin" value="Envoyer">
    </form>

{% endblock %}
